@model MVCWithAutofac.Core.Model.Team

@{
    ViewBag.Title = "InsertTeam";
}

<h2>InsertTeam</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Team</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-offset-1">
                @Html.LabelFor(t => t.Name)
                @Html.EditorFor(t => t.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1">
                @Html.LabelFor(t => t.Description)
                @Html.EditorFor(t => t.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1">
                <input type="submit" value="Create" class="btn btn-sm" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
